PowerOnRentwebapp/Service References/PORServiceUCCommonFilter/ServiceUCCommonFilter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSiteNameByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="uid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSiteNameByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteNameByUserIDResult" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMTerritory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mTerritory" nillable="true" type="tns:mTerritory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mTerritory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsMandatory" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEngineOfSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfV_GetEngineDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="v_GetEngineDetails" nillable="true" type="tns:v_GetEngineDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="v_GetEngineDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransformerSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransformerDateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEngineOfSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEngineOfSiteResult" type="tns:ArrayOfV_GetEngineDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusListByOjbect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMStatu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mStatu" nillable="true" type="tns:mStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mStatu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStatusListByOjbectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetStatusListByOjbectResult" type="tns:ArrayOfMStatu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListBySiteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="siteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGetUserProfileByUserID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGetUserProfileByUserID" nillable="true" type="tns:vGetUserProfileByUserID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGetUserProfileByUserID">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deptname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="desiName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfileImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfJoining" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReportingTo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserListBySiteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserListBySiteIDResult" type="tns:ArrayOfVGetUserProfileByUserID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EngLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="frmdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="todt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReportDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReqLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequisitionDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IssueLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetIssueDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReceiptLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReceiptDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="reqid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductofRequestResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="issueid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductofIssueResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="receiptID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductofReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductofReceiptResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenComRequestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenComRequestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPenComRequestDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfSelectedEngine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EngId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="frmdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="todt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfSelectedEngineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductOfSelectedEngineResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Site" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ftd" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetWeeklyConsumptionResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumableStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Category" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Site" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumableStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumableStockResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllRequisitionDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="frmdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="todt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllReportDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIssueData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIssueDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllIssueDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReceiptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReceiptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllReceiptDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllProductOnSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGetPrdDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPrdDetail" nillable="true" type="tns:GetPrdDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPrdDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductTypeID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductSubCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PrincipalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscountPercent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Warranty" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Guarantee" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Installable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AMC" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="WarrantyDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="GuaranteeDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OpeningBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReorderLevel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxBalanceQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MinOrderQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="LeadTimeDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCategory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductSubCategory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllProductOnSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AllProductOnSiteResult" type="tns:ArrayOfGetPrdDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBalanceOfSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Site" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdList" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AllPrd" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="excludeZero" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBalanceOfSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductBalanceOfSiteResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionDataAllRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReqLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionDataAllRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllRequisitionDataAllRequestResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionDataAllPrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReqLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequisitionDataAllPrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllRequisitionDataAllPrdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDataAllIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IssueLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDataAllIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetIssueDataAllIssueResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDataAllPrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IssueLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDataAllPrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetIssueDataAllPrdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataAllReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReceiptLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataAllReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReceiptDataAllReceiptResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataAllPrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReceiptLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdLst" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectnm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataAllPrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReceiptDataAllPrdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="refId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetEngineCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineCountAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineCountAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetEngineCountAllResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameByUserID_IssueID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="IssueID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="uid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameByUserID_IssueIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteNameByUserID_IssueIDResult" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="IssueID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetSiteIDResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameByUserID_Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="uid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameByUserID_TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteNameByUserID_TransferResult" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToSiteName_Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FrmSiteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToSiteName_TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetToSiteName_TransferResult" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferRptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fromSiteID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="toSiteID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferRptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTransferRptDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="toSiteID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fromSiteID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="tdt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAssetRptDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>