PowerOnRentwebapp/Service References/ApprovalLevelMasterService/ApprovalLevelMasterService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApprovalLevelMasterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/poweronrentservices/Service.Approval/ApprovalLevelMasterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iApprovalLevelMaster_GetActivityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityList" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetActivityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityListResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_InsertmApprovalLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertmApprovalLevel" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_InsertmApprovalLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertmApprovalLevelResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_updatemApprovalLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:updatemApprovalLevel" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_updatemApprovalLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatemApprovalLevelResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalRecordByID" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalDetailRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalDetailRecordByID" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalDetailRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalDetailRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetObjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectList" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetObjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectListResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalLevelMax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalLevelMax" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalLevelMax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalLevelMaxResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalRecordToBindGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalRecordToBindGrid" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetApprovalRecordToBindGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalRecordToBindGridResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEdit" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEditResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEditbySP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEditbySP" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEditbySP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEditbySPResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_SaveApprovalLevelDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveApprovalLevelDetail" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_SaveApprovalLevelDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveApprovalLevelDetailResponse" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEditbySPResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEditbySPResult" />
  </wsdl:message>
  <wsdl:message name="iApprovalLevelMaster_GetUserListForEditbySPResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListForEditbySPResultResponse" />
  </wsdl:message>
  <wsdl:portType name="iApprovalLevelMaster">
    <wsdl:operation name="GetActivityList">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetActivityList" message="tns:iApprovalLevelMaster_GetActivityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetActivityListResponse" message="tns:iApprovalLevelMaster_GetActivityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertmApprovalLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/InsertmApprovalLevel" message="tns:iApprovalLevelMaster_InsertmApprovalLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/InsertmApprovalLevelResponse" message="tns:iApprovalLevelMaster_InsertmApprovalLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatemApprovalLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/updatemApprovalLevel" message="tns:iApprovalLevelMaster_updatemApprovalLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/updatemApprovalLevelResponse" message="tns:iApprovalLevelMaster_updatemApprovalLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordByID" message="tns:iApprovalLevelMaster_GetApprovalRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordByIDResponse" message="tns:iApprovalLevelMaster_GetApprovalRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalDetailRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalDetailRecordByID" message="tns:iApprovalLevelMaster_GetApprovalDetailRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalDetailRecordByIDResponse" message="tns:iApprovalLevelMaster_GetApprovalDetailRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectList">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetObjectList" message="tns:iApprovalLevelMaster_GetObjectList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetObjectListResponse" message="tns:iApprovalLevelMaster_GetObjectList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalLevelMax">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalLevelMax" message="tns:iApprovalLevelMaster_GetApprovalLevelMax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalLevelMaxResponse" message="tns:iApprovalLevelMaster_GetApprovalLevelMax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalRecordToBindGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordToBindGrid" message="tns:iApprovalLevelMaster_GetApprovalRecordToBindGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordToBindGridResponse" message="tns:iApprovalLevelMaster_GetApprovalRecordToBindGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEdit" message="tns:iApprovalLevelMaster_GetUserListForEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditResponse" message="tns:iApprovalLevelMaster_GetUserListForEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEditbySP">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySP" message="tns:iApprovalLevelMaster_GetUserListForEditbySP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySPResponse" message="tns:iApprovalLevelMaster_GetUserListForEditbySP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveApprovalLevelDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/SaveApprovalLevelDetail" message="tns:iApprovalLevelMaster_SaveApprovalLevelDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/SaveApprovalLevelDetailResponse" message="tns:iApprovalLevelMaster_SaveApprovalLevelDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEditbySPResult">
      <wsdl:input wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySPResult" message="tns:iApprovalLevelMaster_GetUserListForEditbySPResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySPResultResponse" message="tns:iApprovalLevelMaster_GetUserListForEditbySPResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iApprovalLevelMaster" type="tns:iApprovalLevelMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityList">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetActivityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertmApprovalLevel">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/InsertmApprovalLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatemApprovalLevel">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/updatemApprovalLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalRecordByID">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalDetailRecordByID">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetApprovalDetailRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectList">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetObjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalLevelMax">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetApprovalLevelMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalRecordToBindGrid">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetApprovalRecordToBindGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEdit">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetUserListForEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEditbySP">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveApprovalLevelDetail">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/SaveApprovalLevelDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListForEditbySPResult">
      <soap:operation soapAction="http://tempuri.org/iApprovalLevelMaster/GetUserListForEditbySPResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApprovalLevelMasterService">
    <wsdl:port name="BasicHttpBinding_iApprovalLevelMaster" binding="tns:BasicHttpBinding_iApprovalLevelMaster">
      <soap:address location="http://localhost/poweronrentservices/Service.Approval/ApprovalLevelMasterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>