PowerOnRentwebapp/Service References/PORServicePartRequest/ServicePartRequest2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetRequestHeadByRequestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRequestHeadByRequestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequestHeadByRequestIDResult" type="tns:PORtPartRequestHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PORtPartRequestHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PRH_ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureCause" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureHours" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureNature" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransformerSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProbableShippingDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSubmit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="mStatuReference" type="tns:EntityReferenceOfmStatu" />
          <xs:element minOccurs="0" maxOccurs="1" name="mTerritoryReference" type="tns:EntityReferenceOfmTerritory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmStatu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:complexType name="EntityReferenceOfmTerritory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetIntoPartRequestHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PartRequest" type="tns:PORtPartRequestHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntoPartRequestHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SetIntoPartRequestHeadResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusListForRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMStatu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mStatu" nillable="true" type="tns:mStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mStatu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStatusListForRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetStatusListForRequestResult" type="tns:ArrayOfMStatu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestPartDetailByRequestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="siteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObject" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPOR_SP_GetPartDetail_ForRequest_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POR_SP_GetPartDetail_ForRequest_Result" nillable="true" type="tns:POR_SP_GetPartDetail_ForRequest_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POR_SP_GetPartDetail_ForRequest_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PRD_ID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PRH_ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Prod_ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestQty" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="RemaningQty" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentStock" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestPartDetailByRequestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequestPartDetailByRequestIDResult" type="tns:ArrayOfPOR_SP_GetPartDetail_ForRequest_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDBResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetExistingTempDataBySessionIDObjectName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingTempDataBySessionIDObjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetExistingTempDataBySessionIDObjectNameResult" type="tns:ArrayOfPOR_SP_GetPartDetail_ForRequest_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoRequest_TempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraProductIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoRequest_TempDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddPartIntoRequest_TempDataResult" type="tns:ArrayOfPOR_SP_GetPartDetail_ForRequest_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePartFromRequest_TempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraSequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePartFromRequest_TempDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RemovePartFromRequest_TempDataResult" type="tns:ArrayOfPOR_SP_GetPartDetail_ForRequest_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartRequest_TempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:POR_SP_GetPartDetail_ForRequest_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartRequest_TempDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="FinalSaveRequestPartDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="StatusID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveRequestPartDetailResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetRequestSummayByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPOR_SP_GetRequestBySiteIDsOrUserID_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POR_SP_GetRequestBySiteIDsOrUserID_Result" nillable="true" type="tns:POR_SP_GetRequestBySiteIDsOrUserID_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POR_SP_GetRequestBySiteIDsOrUserID_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PRH_ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestByUserName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgRequest" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgApproval" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgIssue" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgReceipt" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgConsumption" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestSummayByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequestSummayByUserIDResult" type="tns:ArrayOfPOR_SP_GetRequestBySiteIDsOrUserID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestSummayBySiteIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestSummayBySiteIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequestSummayBySiteIDsResult" type="tns:ArrayOfPOR_SP_GetRequestBySiteIDsOrUserID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestSummayByRequestIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RequestIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPOR_SP_GetRequestByRequestIDs_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POR_SP_GetRequestByRequestIDs_Result" nillable="true" type="tns:POR_SP_GetRequestByRequestIDs_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POR_SP_GetRequestByRequestIDs_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PRH_ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestByUserName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgRequest" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgApproval" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgIssue" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgReceipt" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgConsumption" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestSummayByRequestIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRequestSummayByRequestIDsResult" type="tns:ArrayOfPOR_SP_GetRequestByRequestIDs_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApprovalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="ApprovalStatus" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ApprovalRemark" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApprovalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SaveApprovalStatusResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalDetailsByReqestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalDetailsByReqestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetApprovalDetailsByReqestIDResult" type="tns:tApprovalDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tApprovalDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovalLevel" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MailAlert" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApproverUserID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusChangedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ObjectTotalAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>