PowerOnRentwebapp/Service References/PORServicePartConsumption/ServicePartConsumption2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetConsumptionHeadByConsumptionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ConsumptionID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsumptionHeadByConsumptionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionHeadByConsumptionIDResult" type="tns:PORtConsumptionHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PORtConsumptionHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ConH_ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConsumptionDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConsumedByUserID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureCause" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureHours" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureNature" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransformerSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="mTerritoryReference" type="tns:EntityReferenceOfmTerritory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmTerritory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:element name="SetIntoPartConsumptionHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsumptionHead" type="tns:PORtConsumptionHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntoPartConsumptionHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SetIntoPartConsumptionHeadResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusListForConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMStatu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mStatu" nillable="true" type="tns:mStatu" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mStatu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStatusListForConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetStatusListForConsumptionResult" type="tns:ArrayOfMStatu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionPartDetailByReceiptID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ReceiptID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="siteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObject" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POR_SP_GetPartDetails_OfConsumption_Result" nillable="true" type="tns:POR_SP_GetPartDetails_OfConsumption_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POR_SP_GetPartDetails_OfConsumption_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Prod_ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prod_Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConsumedQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentStock" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="GRND_ID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConsumptionPartDetailByReceiptIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionPartDetailByReceiptIDResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionPartDetailByConsumptionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ConsumptionID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="siteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObject" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionPartDetailByConsumptionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionPartDetailByConsumptionIDResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDBResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetExistingTempDataBySessionIDObjectName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingTempDataBySessionIDObjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetExistingTempDataBySessionIDObjectNameResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoConsumption_TempDataByPartIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraProductIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoConsumption_TempDataByPartIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddPartIntoConsumption_TempDataByPartIDsResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoConsumption_TempDataByGrdIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GrdIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartIntoConsumption_TempDataByGrdIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddPartIntoConsumption_TempDataByGrdIDsResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePartFrom_TempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraSequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePartFrom_TempDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RemovePartFrom_TempDataResult" type="tns:ArrayOfPOR_SP_GetPartDetails_OfConsumption_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartConsumedQty_TempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Consumption" type="tns:POR_SP_GetPartDetails_OfConsumption_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartConsumedQty_TempDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="FinalSavePartDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSavePartDetailResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetConsumptionSummayByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPOR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" nillable="true" type="tns:POR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConH_ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConsumptionDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ConsumedByUserID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ConsumedByUserName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureHours" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureCause" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FailureNature" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgConsumption" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConsumptionSummayByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionSummayByUserIDResult" type="tns:ArrayOfPOR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayBySiteIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayBySiteIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionSummayBySiteIDsResult" type="tns:ArrayOfPOR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayByReceiptIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReceiptIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayByReceiptIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionSummayByReceiptIDsResult" type="tns:ArrayOfPOR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayByConsumptionIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsumptionIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionSummayByConsumptionIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetConsumptionSummayByConsumptionIDsResult" type="tns:ArrayOfPOR_SP_GetConsumptionSummaryBySiteIDsOrUserIDOrReceiptIDsOrConsumptionIDs_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>