PowerOnRentwebapp/Service References/UserCreationService/UserCreationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUserCreationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserCreationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserCreationListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:mUserProfileHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mUserProfileHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="RoleID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddelName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DesignationID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfJoining" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReportingTo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Hobbies" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CollegeOrUniversity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighSchool" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfileImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDepartmentReference" type="tns:EntityReferenceOfmDepartment" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDesignationReference" type="tns:EntityReferenceOfmDesignation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmDepartment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:complexType name="EntityReferenceOfmDesignation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertUserCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertUserCreationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="User" type="tns:mUserProfileHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateUserProfileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserByIDResult" type="tns:mUserProfileHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeeDepartmentwise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="objmDesignation" type="tns:mDesignation" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mDesignation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDepartmentReference" type="tns:EntityReferenceOfmDepartment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMUserProfileHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mUserProfileHead" nillable="true" type="tns:mUserProfileHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectEmployeeDepartmentwiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectEmployeeDepartmentwiseResult" type="tns:ArrayOfMUserProfileHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EmpCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EmpCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordEditResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionList" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="userIDForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_GetUserRoleDetail_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_GetUserRoleDetail_Result" nillable="true" type="tns:SP_GetUserRoleDetail_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SP_GetUserRoleDetail_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayPhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectDisplayName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="mSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="pSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="oSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Add" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Edit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="View" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Delete" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Approval" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTask" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovalVisible" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTaskVisible" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinalSaveUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FinalSaveUserRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleIntoSessionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionList" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="updateRole" type="tns:SP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="1" maxOccurs="1" name="rowindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleIntoSessionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateRoleIntoSessionListResult" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataToBindRoleMasterDetailsByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserIdForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataToBindRoleMasterDetailsByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataToBindRoleMasterDetailsByRoleIDResult" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGetUserProfileList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGetUserProfileList" nillable="true" type="tns:vGetUserProfileList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGetUserProfileList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deptname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="desiName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserListResult" type="tns:ArrayOfVGetUserProfileList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserProfileByUserIDResult" type="tns:vGetUserProfileByUserID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="vGetUserProfileByUserID">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deptname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="desiName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfileImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfJoining" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReportingTo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveUsersLocationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ToUserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsersLocationDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetLocationListByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationListByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLocationListByUserIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetHTMLMenuByUserIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryID_FromUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryID_FromUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTerritoryID_FromUserIdResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteNameFromIdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>