PowerOnRentwebapp/Service References/ProductCategoryService/ProductCategoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/poweronrentservices/Service.Product/ProductCategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryList" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_InsertmProductCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertmProductCategory" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_InsertmProductCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertmProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_updatemProductCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:updatemProductCategory" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_updatemProductCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatemProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryListByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryListByID" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryListByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryListByIDResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_checkDuplicateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecord" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_checkDuplicateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_checkDuplicateRecordEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordEdit" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_checkDuplicateRecordEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordEditResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetPrdCategoryRecordToBindGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrdCategoryRecordToBindGrid" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetPrdCategoryRecordToBindGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrdCategoryRecordToBindGridResponse" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryListForAsset_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryListForAsset" />
  </wsdl:message>
  <wsdl:message name="iProductCategoryMaster_GetProductCategoryListForAsset_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryListForAssetResponse" />
  </wsdl:message>
  <wsdl:portType name="iProductCategoryMaster">
    <wsdl:operation name="GetProductCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryList" message="tns:iProductCategoryMaster_GetProductCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListResponse" message="tns:iProductCategoryMaster_GetProductCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertmProductCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/InsertmProductCategory" message="tns:iProductCategoryMaster_InsertmProductCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/InsertmProductCategoryResponse" message="tns:iProductCategoryMaster_InsertmProductCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatemProductCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/updatemProductCategory" message="tns:iProductCategoryMaster_updatemProductCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/updatemProductCategoryResponse" message="tns:iProductCategoryMaster_updatemProductCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategoryListByID">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListByID" message="tns:iProductCategoryMaster_GetProductCategoryListByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListByIDResponse" message="tns:iProductCategoryMaster_GetProductCategoryListByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecord" message="tns:iProductCategoryMaster_checkDuplicateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecordResponse" message="tns:iProductCategoryMaster_checkDuplicateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecordEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecordEdit" message="tns:iProductCategoryMaster_checkDuplicateRecordEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecordEditResponse" message="tns:iProductCategoryMaster_checkDuplicateRecordEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrdCategoryRecordToBindGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetPrdCategoryRecordToBindGrid" message="tns:iProductCategoryMaster_GetPrdCategoryRecordToBindGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetPrdCategoryRecordToBindGridResponse" message="tns:iProductCategoryMaster_GetPrdCategoryRecordToBindGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategoryListForAsset">
      <wsdl:input wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListForAsset" message="tns:iProductCategoryMaster_GetProductCategoryListForAsset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListForAssetResponse" message="tns:iProductCategoryMaster_GetProductCategoryListForAsset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iProductCategoryMaster" type="tns:iProductCategoryMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductCategoryList">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/GetProductCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertmProductCategory">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/InsertmProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatemProductCategory">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/updatemProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategoryListByID">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecord">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecordEdit">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/checkDuplicateRecordEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrdCategoryRecordToBindGrid">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/GetPrdCategoryRecordToBindGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategoryListForAsset">
      <soap:operation soapAction="http://tempuri.org/iProductCategoryMaster/GetProductCategoryListForAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductCategoryService">
    <wsdl:port name="BasicHttpBinding_iProductCategoryMaster" binding="tns:BasicHttpBinding_iProductCategoryMaster">
      <soap:address location="http://localhost/poweronrentservices/Service.Product/ProductCategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>